.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**/

.FarFromTopBox1{
  margin-top: 35vh;
}
.FarFromTopBox2{
  margin-top: 15vh;
}
.FarFromTopBox3{
  margin-top: 5vh;
}

.WiiTitle{
  font-size: 10rem;
  font-weight: bold;
  color: grey;
} 

.textNav{
  text-align: left;
  font-size: 2vh;
  width: 120%;
}

.ScrollBox{
  margin-top: 15vh;
}

.ScrollSize{
  width: 10%;
}

.Description{
  padding-top: 20vh;
}



.page1{
  height: 100vh;
}
.page2{
  height: 100vh;
}
.page3{
  height: auto;
}
.page4{
  height: auto;
}


/* Extra small devices (phones, 600px and down) iPhone 6 7 8 Plus */
@media only screen and (max-width: 600px) {
  .page1{
    background-image: url("./Components/Pics/wii4xmd.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60% ;
  }

  .FarFromTopBox1{
    margin-top: -3vh;
  }

  .WiiTitle{
    font-size: 4.5rem;
    font-weight: bold;
    color: grey;
  } 

  .ScrollBox{
    margin-top: 60vh;
  }

  .ScrollSize{
    width: 40%;
  }

  .Description2{
    padding-top: 0vh;
    font-size: 1.5rem !important;
  }

  .HeadTitle{
    font-size: 2rem;
    font-weight: bold;
  }

  .step{
    padding-top: 3vh;
    font-size: 1rem;
    font-weight: bold;
    color: grey;
  }

  .stepText{
    font-size: 1rem !important;
    font-weight: bold;
    color: grey;
  }

  .pics{
    width: 100%;
  }

  .picsEx1{
    width: 50%;
  }

  .picsEx2{
    width: 90%;
  }

  .page5{
    height: 15vh;
  }

  .page5{
    background-image: url("./Components/Pics/wave (4).svg");
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: 100% ;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) iPhone Horizon */
@media only screen and (min-width: 600px) {
  .page1{
    background-image: url("./Components/Pics/wii4xmd.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40% ;
  }
}

/* Medium devices (landscape tablets, 768px and up) iPad vertical */
@media only screen and (min-width: 768px) {
  .page1{
    background-image: url("./Components/Pics/wii4xmd.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 50% ;
  }

  .FarFromTopBox1{
    margin-top: 5vh;
  }

  .WiiTitle{
    font-size: 9rem;
    font-weight: bold;
    color: grey;
  } 

  .ScrollBox{
    margin-top: 55vh;
  }

  .ScrollSize{
    width: 40%;
  }

  .Description{
    padding-top: 10vh;
  }
  
  .HeadTitle{
    font-size: 3rem;
    font-weight: bold;
  }

  .step{
    padding-top: 3vh;
  }

  .pics{
    width: 100%;
  }

  .picsEx1{
    width: 50%;
  }

  .picsEx2{
    width: 90%;
  }

  .page5{
    height: 15vh;
  }

  .page5{
    background-image: url("./Components/Pics/wave (4).svg");
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: 100% ;
  }
}

/* Large devices (laptops/desktops, 992px and up) iPad Horizon */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1920px and up) Desktop Screen */
@media only screen and (min-width: 1920px) {
  .page1{
    background-image: url("./Components/Pics/wii4x.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40% ;
  }

  .FarFromTopBox1{
    margin-top: 25vh;
  }

  .WiiTitle{
    font-size: 15rem;
    font-weight: bold;
    color: grey;
  } 

  .ScrollSize{
    width: 15%;
  }

  .ScrollBox{
    margin-top: 15vh;
  }

  .Description{
    padding-top: 20vh;
  }

  .HeadTitle{
    font-size: 5rem;
    font-weight: bold;
  }

  .step{
    padding-top: 25vh;
  }

  .pics{
    width: 70%;
  }

  .picsEx1{
    width: 25%;
  }

  .picsEx2{
    width: 70%;
  }

  .page5{
    height: 35vh;
  }

  .page5{
    background-image: url("./Components/Pics/wave (4).svg");
    background-repeat: no-repeat;
    background-position: bottom ;
    background-size: 100% ;
  }
}