.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FarFromTopBox1{
  margin-top: 35vh;
}
.FarFromTopBox2{
  margin-top: 15vh;
}
.FarFromTopBox3{
  margin-top: 5vh;
}

.WiiTitle{
  font-size: 10rem;
  font-weight: bold;
  color: grey;
} 

.page1{
  height: 100vh;
}
.page2{
  height: 100vh;
}
.page3{
  height: auto;
}
.page4{
  height: auto;
}
.page5{
  height: auto;
}

/* Extra small devices (phones, 600px and down) Mobile  */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) iPhone */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) iPad vertical */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) iPad Horizon */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1920px and up) Desktop Screen */
@media only screen and (min-width: 1920px) {
  .page1{
    background-image: url("./Components/Pics/wii4x.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40% ;
  }
}